.gameBoard {
  display: grid;
  margin: auto;
  text-align: center;
  padding: 8px;
  border: 1px solid black;
  width: min-content;
  grid-auto-flow: row;
  width: max(min(60vh, 60vw), 300px);
  height: max(min(60vh, 60vw), 300px);
  background-color: #371d10;
}

.gridRow {
  border-bottom: 1px solid black;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  box-sizing: border-box;
  background-color: #6699cc;
}

.gridRow:first-child {
  border-top: 1px solid black;
}
